.cariusel-container{
    height: 40vh;
    width: 50vh;
}

.carousel{
    position: relative;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.image-container{
   display: flex;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
.image{
    height: 100%;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    padding: 0.5rem;
    transition: all 0.3s ease;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
             
